.container {
    background-color: #118AB2;
    padding: 1rem;
    color: #FFFFFF;

}
.navbar {
    flex-direction: column;
}
.navbar__brand {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.navbar__list {
    display:flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem;
}
.navbar__item {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
@media (min-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .navbar__brand {
      margin-bottom: 0;
    }
  
    .navbar__list {
      flex-direction: row;
    }
  
    .navbar__list .navbar__item {
      margin: 0 1rem;
      text-align: center;
    }
  }